{varType string $link}
{varType string $text}
{varType string $class}

{default $class = null}

<a n:href="{$link}"
class="hover:bg-white/60 hover:text-black transition-all phone:mt-4 sm:mt-0  p-4 bg-librarius-900 text-white {$class} ">
    {$text}
</a>
