<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{ifset title}{include title|stripHtml}{/ifset}</title>
		<link rel="stylesheet" href="{$basePath}/dist/css/output.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	</head>

	<body class="font-poppins">

	<div n:foreach="$flashes as $flash"
            n:class="$flash->type == 'success' ?'bg-green-400':'bg-rose-600','p-4 text-white w-full text-center'">{$flash->message}
	</div>

	<div class=" p-3 bg-slate-200 flex justify-between">

		<div class="flex phone:flex-col sm:flex-row items-center">
			<p class="text-2xl">Administrace</p>
		</div>

		<div class="phone:hidden sm:flex sm:flex-row justify-end items-center">
			<div class="flex">
				<svg class="h-5 w-5 fill-black" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" version="1.1"> <path d="M15.992 2c3.396 0 6.998 2.86 6.998 4.995v4.997c0 1.924-0.8 5.604-2.945 7.293-0.547 0.43-0.831 1.115-0.749 1.807 0.082 0.692 0.518 1.291 1.151 1.582l8.703 4.127c0.068 0.031 0.834 0.16 0.834 1.23l0.001 1.952-27.984 0.002v-2.029c0-0.795 0.596-1.045 0.835-1.154l8.782-4.145c0.63-0.289 1.065-0.885 1.149-1.573s-0.193-1.37-0.733-1.803c-2.078-1.668-3.046-5.335-3.046-7.287v-4.997c0.001-2.089 3.638-4.995 7.004-4.995zM15.992-0c-4.416 0-9.004 3.686-9.004 6.996v4.997c0 2.184 0.997 6.601 3.793 8.847l-8.783 4.145s-1.998 0.89-1.998 1.999v3.001c0 1.105 0.895 1.999 1.998 1.999h27.986c1.105 0 1.999-0.895 1.999-1.999v-3.001c0-1.175-1.999-1.999-1.999-1.999l-8.703-4.127c2.77-2.18 3.708-6.464 3.708-8.865v-4.997c0-3.31-4.582-6.995-8.998-6.995v0z"/> </svg>
				<p class="ml-2 text-sm">{$loggedUser->email}</p>
			</div>

			<a n:href="Login:out" class="hover:bg-white/60 hover:text-black transition-all phone:mt-4 sm:mt-0 mx-4 p-4 bg-slate-600 text-white">Odhlásit se</a>
		</div>
	</div>


		<div class="flex">
			{include '../../Components/SideMenuBar/SideMenuBar.latte' }
			{include pageContent}
		</div>

	<script type="module" src="{$basePath}/dist/js/initializers.js"></script>
	</body>
</html>

