<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml}{/ifset}</title>
	<link rel="stylesheet" href="{$basePath}/dist/output.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body class="bg-slate-600 text-white font-poppins">
	{include "../../Components/Header/header.latte"}

	<div class="container w-full">
		{include content}
	</div>

	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>




</body>
</html>

