{if !$paginator->isFirst()}
    <a n:href="default, $paginator->getPage() - 1" class="m-4">
        <i class="fa fa-angle-left text-gray-500" aria-hidden="true"></i>
    </a>
{/if}

{for $i = 1; $i <= $paginator->getPageCount(); $i++ }
    <a n:href="default, $i" class="m-2 text-gray-500">{$i}</a>
{/for}

{if !$paginator->isLast()}
    <a n:href="default, $paginator->getPage() + 1" class="m-4">
        <i class="fa fa-angle-right text-gray-500" aria-hidden="true"></i>
    </a>
{/if}

