{block title}O projektu{/block}
{block pageContent}

<section class="h-[100vh] w-full">
    <div class="p-6">
        <h1 class="text-2xl mb-2">O projektu</h1><hr>
    </div>

    <div class="p-6 flex flex-wrap h-full w-full">

    </div>

</section>