<div class="flex-1 flex items-center">
    <div class="text-center mx-auto xs:py-12 xs:px-12 lg:py-20 lg:px-20 bg-white/10">
        <h1 class="xs:text-2xl sm:text-2xl md:text-4xl lg:text-8xl">{$title}</h1>
        <p class="font-light xs:text-lg sm:text-xl md:text-2xl lg:text-4xl mt-8">{$perex}</p>
    </div>
</div>