{define title}Přehled knih{/define}
{block pageContent}

<section class="h-full w-full p-6">
    <div class="mb-6">
        <h1 class="text-2xl mb-2">Servis</h1><hr>
    </div>

    <div class="flex flex-wrap gap-9 items-center md:flex-row">

    </div>
</section>
