{block pageContent}
    <section class="h-full w-full">

        <div class="p-6">
            <h1 class="text-2xl mb-2">Články</h1><hr>

        <div class="my-10">
            {include '../../../Components/ActionButton/ActionButton.latte',
            "link" => "Article:main",
            "text" => "Vytvořit článek"
            }
        </div>

        </div>

    </section>