services:
	- App\Router\RouterFactory::createRouter
	- App\Model\UsersRepository
	- App\Model\ArticleRepository
	- App\Model\BooksRepository
	- App\services\Authenticator
	- App\services\FileService
	- App\Services\Authorizator::create
