{block pageContent}
    <section class="h-full w-full">

        <div class="p-6">
            <h1 class="text-2xl mb-2">Nahrávání</h1><hr>

            <div class="mt-10">
                {include '../../../../Components/ActionButton/ActionButton.latte',
                "link" => "Article:add",
                "text" => "Nahrát knihu"
                }
            </div>

            <div class="my-10">
               {control grid}
            </div>

        </div>

    </section>