/*@import "components/dropdown.css";*/

@import "../../app/Components/HamburgerMenu/HamburgerMenu.css";
@import "../../app/Components/Loader/Loader.css";
@import "../../app/Components/DataGrid/DataGrid.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.wysiwyg-wrapper {
    height: 300px;
}
.ck-editor,
.js-wysiwyg {
    height: 100% !important;
}

.ck-editor__main {
    height: calc(100% - 60px) !important;
}

.ck-editor__editable {
    height: 100%;
}

.border-librarius-900 {
    border: solid 1px #c0168a;
}