    <a href="{$link}"class="flex justify-center relative w-full h-full bottom-4">

        <svg
            class="xs:w-[15%] lg:w-[5%]"
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 106 106"
        >
            <path d="M79.5 39.75L53 66.25L26.5 39.75" fill="none" stroke="{$color}" stroke-width="8.83333"/>
        </svg>
    </a>